<form class="form-vertical" role="form" name="documentForm"
    data-ng-submit="addDocument()"
>
    <div class="row">
        <div class="col-lg-8">
            <div class="form-group" style="margin-top: 10px;">
                <input type="text" class="form-control" required="required" name="title" placeholder="Enter document title"
                    data-ng-model="document.title"
                />
            </div>

            <div class="form-group">
                <textarea name="document.description" class="form-control editable-textarea" required="required" placeholder="Enter document description"
                    data-ng-model="document.description"
                >{document.description}</textarea>
            </div>

            <div class="visible-lg">
                <button type="submit" class="btn btn-primary"
                    data-ng-disabled="!documentForm.$valid"
                >
                    Save
                </button>
            </div>
        </div>

        <div class="col-lg-4">
            <h4 class="text-muted">Information</h4>
            <table class="table">
                <tr>
                    <th style="vertical-align: middle;">Utilisateur</th>
                    <td>
                        <select name="author" class="form-control" required="required"
                            data-ng-model="document.utilisateur"
                            data-ng-options="utilisateur.id as utilisateur.name for utilisateur in utilisateurs"
                        >
                            <option value="">Select an utilisateur</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Released</th>
                    <td>
                        <datepicker
                            data-ng-model="document.releaseDate"
                            data-min-mode="year"
                            data-datepicker-mode="'year'"
                        ></datepicker>
                    </td>
                </tr>
            </table>

            <div class="hidden-lg">
                <button type="submit" class="btn btn-primary"
                    data-ng-disabled="!documentForm.$valid"
                >
                    Save
                </button>
            </div>
        </div>
    </div>
</form>
