<div data-ng-show="!document">
    <h3>Requested document not found</h3>
</div>

<div data-ng-show="document">
    <form class="form-vertical" role="form"
        data-editable-form name="editableForm"
        data-onaftersave="saveDocument()"
    >
        <div class="row">
            <div class="col-lg-8">
                <h3>
                    <span style="width: 100%;"
                        data-editable-text="document.title"
                        data-e-name="document.title"
                        data-e-required
                    >
                        {{document.title}}
                    </span>

                    <span class="pull-right"
                        data-ng-show="!editableForm.$visible && user.admin"
                    >
                        <a href="#"
                           data-ng-click="editableForm.$show()"
                           data-tooltip="Toggle edit mode"
                        >
                            <i class="fa fa-wrench"></i>
                        </a>
                    </span>
                </h3>

                <p style="white-space: pre-line"
                   data-editable-textarea="document.description"
                   data-e-name="document.description"
                   data-e-class="editable-textarea"
                   data-e-required
                >
                    {{document.description}}
                </p>

                <div class="visible-lg">
                    <div data-ng-show="editableForm.$visible">
                        <button type="submit" class="btn btn-primary"
                            data-ng-disabled="editableForm.$waiting"
                        >
                            Save
                        </button>
                        <button type="button" class="btn btn-default"
                            data-ng-disabled="editableForm.$waiting"
                            data-ng-click="editableForm.$cancel()"
                        >
                            Cancel
                        </button>
                        <button type="button" class="btn btn-danger pull-right"
                            data-ng-bootbox-title="Danger - Danger - Danger"
                            data-ng-bootbox-custom-dialog="Are you sure about the <strong>{{document.title}}</strong> document delete?"
                            data-ng-bootbox-buttons="confirmButtonsDelete"
                        >
                            Delete
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <h4 class="text-muted">Information</h4>
                <table class="table">
                    <tr>
                        <th style="vertical-align: middle;">Utilisateur</th>
                        <td>
                            <a
                                data-ui-sref="home.utilisateur({id: document.utilisateur.id})"
                                data-editable-select="selectUtilisateur"
                                data-onshow="loadUtilisateurs()"
                                data-e-name="document.utilisateur"
                                data-e-required
                                data-e-ng-options="a.id as a.name for a in utilisateurs"
                            >
                                {{document.utilisateur.name}}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th>Released</th>
                        <td>
                            <div data-ng-show="!editableForm.$visible">
                                {{document.releaseDate | amDateFormat: 'YYYY'}}
                            </div>

                            <div data-ng-show="editableForm.$visible">
                                <datepicker
                                    data-ng-model="document.releaseDate"
                                    data-min-mode="year"
                                    data-datepicker-mode="'year'"
                                ></datepicker>
                            </div>
                        </td>
                    </tr>
                </table>

                <div class="hidden-lg">
                    <div data-ng-show="editableForm.$visible">
                        <button type="submit" class="btn btn-primary"
                            data-ng-disabled="editableForm.$waiting"
                        >
                            Save
                        </button>
                        <button type="button" class="btn btn-default"
                            data-ng-disabled="editableForm.$waiting"
                            data-ng-click="editableForm.$cancel()"
                        >
                            Cancel
                        </button>
                        <button type="button" class="btn btn-danger pull-right"
                            data-ng-bootbox-confirm="Are you sure about the document delete?"
                            data-ng-bootbox-confirm-action="deleteDocument()"
                        >
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
