$color-dropdown-menu-border-before: rgba(0, 0, 0, .2);
$color-dropdown-menu-border-after: #fff;
$color-navbar-link: #777;
$color-navbar-link-hover: #3399f3;

.dropdown-menu-arrow {
  &::before {
    border-bottom: 7px solid $color-dropdown-menu-border-before;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: '';
    display: inline-block;
    left: 9px;
    position: absolute;
    top: -7px;
  }

  &::after {
    border-bottom: 6px solid $color-dropdown-menu-border-after;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: '';
    display: inline-block;
    left: 10px;
    position: absolute;
    top: -6px;
  }
}

.pull-right {
  &.dropdown-menu-arrow {
    &::before {
      left: inherit;
      right: 9px;
    }

    &::after {
      left: inherit;
      right: 10px;
    }
  }
}

.btn-group {
  &.pull-right {
    > .dropdown-menu-arrow {
      &::before {
        left: inherit;
        right: 9px;
      }

      &::after {
        left: inherit;
        right: 10px;
      }
    }
  }
}

.navbar-default {
  .navbar-nav {
    > .active {
      &.not-active {
        > a {
          color: $color-navbar-link;

          &:hover {
            color: $color-navbar-link-hover;
          }
        }
      }
    }
  }
}
