$color-box-shadow: #ababab;

@mixin border-radius($radius) {
  // If you want to support also old browsers just un-comment lines below
  //-webkit-border-radius: $radius;
  //-moz-border-radius: $radius;
  //-ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin user-no-select() {
  // If you want to support also old browsers just un-comment lines below
  //-webkit-touch-callout: none;
  //-webkit-user-select: none;
  //-khtml-user-select: none;
  //-moz-user-select: none;
  //-ms-user-select: none;
  user-select: none;
}

@mixin box-shadow($top, $left, $blur, $color: $color-box-shadow, $inset: '') {
  // If you want to support also old browsers just un-comment lines below
  //-webkit-box-shadow: $top $left $blur $color #{$inset};
  //-moz-box-shadow: $top $left $blur $color #{$inset};
  box-shadow: $top $left $blur $color #{$inset};
}

@mixin text-shadow($top, $left, $blur, $color) {
  text-shadow: $top $left $blur $color;
}

@mixin background-linear-gradient($color-from, $color-to) {
  // Fallback Color
  // If you want to support also old browsers just un-comment lines below
  //background-image: -webkit-gradient(linear, left top, left bottom, from($color-from), to($color-to)); // Saf4+, Chrome
  //background-image: -webkit-linear-gradient(top, $color-from, $color-to); // Chrome 10+, Saf5.1+, iOS 5+
  //background-image:    -moz-linear-gradient(top, $color-from, $color-to); // FF3.6
  //background-image:     -ms-linear-gradient(top, $color-from, $color-to); // IE10
  //background-image:      -o-linear-gradient(top, $color-from, $color-to); // Opera 11.10+
  background: $color-to linear-gradient(top, $color-from, $color-to);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$color-from}', EndColorStr='#{$color-to}');
}

@mixin border-box() {
  // If you want to support also old browsers just un-comment lines below
  //-webkit-box-sizing: border-box;
  //-moz-box-sizing: border-box;
  box-sizing: border-box;
}
