$color-border: #dfdfdf;

.chat {
  margin: 0 15px;
  padding: 0;

  .messages {
    border: 1px solid $color-border;
    border-bottom: 0;
    border-top: 0;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0 10px;

    code {
      background-color: transparent;
    }

    .time {
      left: 5px;
      position: absolute;
    }

    .message {
      margin-left: 155px;
    }
  }

  .form-control,
  .input-group-addon {
    &:first-child {
      border-top-left-radius: 0;
    }
  }

  .input-group-btn {
    &:last-child > .btn {
      border-top-right-radius: 0;
    }
  }
}
