<h4>General info</h4>

<p>
    This demonstrates how to use sails.js and web sockets to pass updates
    between clients automatically. All communications here are made via web sockets.
</p>

<h4>Functions</h4>

<dl class="dl-horizontal">
    <dt>
        Basic stuff
    </dt>
    <dd>
        Enter / leave chat. Create new chat message. Message updates to all clients.
    </dd>
</dl>

<page-info-files data-files="{{files}}"></page-info-files>
