<h3>Sails.js + AngularJS <em>Client</em></h3>

<div class="row">
    <div class="col-sm-12">
        <p>
            This is an example <em>client</em> for your <em>Sails.js + AngularJS</em> combo project.
            You can use this client as a starting point of your own awesome modern web application.
            In addition there are many example to show you how to get started.
        </p>

        <h4>Main goals of this client</h4>
        <ul>
            <li>Totally separated back- and frontend development</li>
            <li>Secure authentication with <em>server</em></li>
        </ul>

        <p>
            Below is detailed information about this <em>client</em>.
        </p>
    </div>
</div>

<p>
    Use following credentials for login:
    <pre>
username: demo
password: demodemodemo</pre>
</p>

<p>
    Detailed info at <a href="https://www.bitbucket.org/remimanue/cl-test.git" target="_blank">BitBucket</a>.
</p>
