<form class="form-vertical" role="form" name="utilisateurForm"
    data-ng-submit="addUtilisateur()"
>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group" style="margin-top: 10px;">
                <input type="text" class="form-control" name="utilisateur.name" required="required" placeholder="Enter utilisateur name"
                    data-ng-model="utilisateur.name"
                />
            </div>

            <div class="form-group">
                <textarea name="utilisateur.description" class="form-control editable-textarea" required="required" placeholder="Enter utilisateur description"
                    data-ng-model="utilisateur.description"
                >{book.description}</textarea>
            </div>

            <button type="submit" class="btn btn-primary"
                data-ng-disabled="!utilisateurForm.$valid"
            >
                Save
            </button>
        </div>
    </div>
</form>
